.pat-button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
  height: 30px;
  background-color:  var(--btn-color-bg);
  color: var(--btn-text-color);
}

:root {
  --btn-color-bg: #018001;
  --btn-text-color: white;
}

[data-theme="dark"]{
  --btn-color-bg: #ffffff;
  --btn-text-color: black;
}
