.pat-button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
  height: 30px;
  background-color:  var(--btn-color-bg);
}

:root {
  --btn-color-bg: #f23900;
}

[data-theme="dark"]{
  --btn-color-bg: #ffffff;
}
