.pat-button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
  height: 30px;
  background-color:  var(--color-bg);
}

:root {
  --color-bg: yellow;
}

[data-theme="dark"]{
  --color-bg: #ffffff;
}
